@model List<SupplyManagementSystem.Models.Project>
@using SupplyManagementSystem.Utilities.Enums
@using System.Globalization
@using SupplyManagementSystem.Utilities.Handlers
@{
    string username = HttpContext.Current.Request.Cookies["Username"]?.Value;
    string accountGuid = HttpContext.Current.Request.Cookies["AccountGuid"]?.Value;
    string role = HttpContext.Current.Request.Cookies["Role"]?.Value;
    var culture = new CultureInfo("id-ID");

    string vendorStatus = ViewData["VendorStatus"]?.ToString() ?? "";
    string businessField = ViewData["BusinessField"]?.ToString() ?? "";
    string vendorGuid = ViewData["VendorGuid"]?.ToString() ?? "";


    ViewBag.Title = "Index";
}

<h2 class="text-center my-4">Daftar Proyek</h2>

@if (role == nameof(RoleEnum.Vendor))
{
    if (vendorStatus != GetNameHandler.GetVendorStatusName(VendorStatusEnum.Accepted))
    {
        <p class="text-danger text-center">Anda belum bisa mengikuti proyek, Akun anda sedang dalam proses verifikasi!</p>
    }
    else if (vendorStatus == GetNameHandler.GetVendorStatusName(VendorStatusEnum.Accepted) && businessField == "")
    {
        <p class="text-danger text-center">Anda belum bisa mengikuti proyek, silakan lengkapi data profile!</p>
    }
}


@Html.Partial("_FlashMessage")
@if (role == nameof(RoleEnum.Manager) || role == nameof(RoleEnum.Admin))
{
    @Html.ActionLink("Tambah", "Create", "Project", null, new { @class = "btn btn-sm btn-success" })
}

@if (Model.Count() > 0)
{
    <div class="row my-5">
        @foreach (var project in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body shadow-lg">
                        <h5 class="card-title">@project.Name</h5>
                        <p class="card-text">Tanggal Mulai : @project.StartDate.ToString("dddd, dd-MMM-yyyy", culture)</p>
                        <p class="card-text">Tanggal Selesai : @project.EndDate.ToString("dddd, dd-MMM-yyyy", culture)</p>
                        @Html.ActionLink("Details", "Details", "Project", new { guid = project.Guid }, new { @class = "btn btn-sm btn-info" })


                        @if (role == nameof(RoleEnum.Manager) || role == nameof(RoleEnum.Admin))
                        {
                            using (Html.BeginForm("Delete", "Project", new { guid = project.Guid }, FormMethod.Post, new { @class = "d-inline-block" }))
                            {
                                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('apakah anda yakin?')">Hapus</button>
                            }

                        }

                        @if (role == nameof(RoleEnum.Vendor))
                        {
                            if (vendorStatus == GetNameHandler.GetVendorStatusName(VendorStatusEnum.Accepted) && businessField != "" && !CheckingHandler.IsVendorJoinedProject(project.ProjectTenders, Guid.Parse(vendorGuid)))
                            {
                                using (Html.BeginForm("Create", "ProjectTender", null, FormMethod.Post, new { @class = "d-inline-block" }))
                                {
                                    <input type="hidden" name="ProjectGuid" value="@project.Guid" />
                                    <input type="hidden" name="VendorGuid" value="@vendorGuid" />
                                    <button type="submit" class="btn btn-primary btn-sm">Ikuti</button>
                                }

                            }
                            else if (CheckingHandler.IsVendorJoinedProject(project.ProjectTenders, Guid.Parse(vendorGuid)))
                            {
                                using (Html.BeginForm("Delete", "ProjectTender", null, FormMethod.Post, new { @class = "d-inline-block" }))
                                {
                                    <input type="hidden" name="ProjectGuid" value="@project.Guid" />
                                    <input type="hidden" name="VendorGuid" value="@vendorGuid" />
                                    <button type="submit" class="btn btn-danger btn-sm">Batal Ikut</button>
                                }

                            }
                            else
                            {
                                <a href="#" class="btn btn-sm btn-primary disabled">Ikuti</a>
                            }
                        }

                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    if (role != nameof(RoleEnum.Vendor))
    {
        <p class="text-center">Data Proyek Kosong, silahkan tambah data proyek.</p>
    }

}


